body{
  margin: 100px 500px;
}

/* Decoración */
.accordion [data-control]::before {
 content: '⊞ ';
 color: #888;
}
.accordion.open [data-control]::before {
 content: '⊟ ';
 color: #444;
}

/* Contenedor del acordeón */
[data-accordion] {
 border: 1px solid #888;
 margin: 2px;
 cursor: pointer;
}
[data-control] {
 background: #CCC;
 padding: 5px;
}