#batman{
  margin-left:90px;  
}

.tro{
  font-size:200px;
  display: inline-block;
  margin: 50px 100px;
}

img{
  height: 200px;
}

button{
  margin-left: 30px !important;
}


#plus{
  margin-left: 570px !important;
}